#title, #footer {
    padding-left: 1rem;
}

.card {
    margin-top: 1rem;
    margin-left: 2rem;
    margin-right: 2rem;
    border: 2px solid black;
    border-radius: 5px;
    padding-left: 1rem;
    padding-right: 1rem;
    min-height: 120px;
}

.card-text{
    text-align: justify;
    margin-top: 0rem;
}

#last-card {
    margin-bottom: 1rem;
}

h2 {
    margin-bottom: 0px;
}