#title, #footer {
    padding-left: 1rem;
}

.card {
    margin: 2rem;
    border: 2px solid black;
    
    padding-left: 1rem;
    padding-right: 1rem;
    min-height: 75px;
}

.card-text{
    text-align: justify;
}